* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  width: 1920px;
  height: 723px;
  background-color: #f9f9f9;
}
.photo-1 {
  width: 552px;
  height: 31px;
  margin: 100px 685px 125px 683px;
}
.photo-2 {
  width: 1139px;
  height: 366;
  margin: 0 390px 101px 391px;
}